/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #fcf1e6;
}

.portfolio-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    margin-top: 20px; 
    color: #2a2929;/* Add some margin from the top */
}
.portfolio-description {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    color: #3a3939; /* Add some margin from the top */
}

.facebook-icon {
    display: flex;
    align-items: center;
}

.facebook-icon img {
    width: 50px; /* Adjust image size as needed */
    height: 50px; /* Adjust image size as needed */
    margin-left: auto; /* Push the icon to the right */
}
.get-start-button {
    background-color: #f3cda2; /* Facebook blue color */
    color: #ffffff;
    padding: 8px 13px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    font-weight: bold; /* Make the text bold */
    font-size: 16px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.1s, transform 0.1s; /* Solid shadow at the bottom */

    /* Centering the button */
    display: block; /* This makes sure the button is a block-level element */
    margin-left: auto; /* This will push the button from the left side */
    margin-right: auto; /* This will push the button from the right side */
}

.get-start-button:active {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75); /* Smaller shadow for pressed effect */
    transform: translateY(2px); /* Slightly move the button down to mimic pressing */
}

/* Update the .top-bar styles */
.top-bar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Set to stick at the top */
    z-index: 1000; /* Ensure it's above other items */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center the text */
    border-bottom: 1px solid #ececec; /* Optional: adds a subtle border */
    background-color: rgba(255, 255, 255, 0.9); /* Improved white background with opacity */
    color: #000; /* Text color */
    display: flex;
    justify-content: space-between; /* Align items at the ends */
    align-items: center; /* Vertically center content */
}

.profile {
    display: flex;
    align-items: center;
}

.get-started-button {
    background-color: #f3cda2; /* Facebook blue color */
    color: #ffffff;
    padding: 8px 13px;
    border: none;
    border-radius: 12px;
    margin-right: 10px;
    margin-left: auto;
    font-weight: bold; /* Make the text bold */
    font-size: 16px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.75); 
    transition: box-shadow 0.1s, transform 0.1s;/* Solid shadow at the bottom */
}
.get-started-button:active {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75); /* Smaller shadow for pressed effect */
    transform: translateY(2px); /* Slightly move the button down to mimic pressing */
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}


.profile-image {
    width: 45px; /* Adjust image size as needed */
    height: 45px; /* Adjust image size as needed */
    background-color: #000; /* Black background */
    border-radius: 50%; /* Rounded shape */
    margin-right: 10px; /* Spacing between image and name */
}

.profile-name {
    font-size: 1.2em; /* Adjust font size as needed */
    color: #000; /* Black text color */
    font-family: 'Nunito', sans-serif;
}

/* Container for all cards */
.container {
    column-count: 4;
    column-gap: 1em;
    padding: 1em;
    max-width: 100%;
}
#content-container {
    position: relative;
    z-index: 10; /* Ensure this is above the canvas */
    /* Add other styling as needed */
}


/* Card Styling */
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    break-inside: avoid; /* Prevents column break within the element */
}

.card-header {
    background-color: #f3cda2;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 15px;
    text-align: center;
}

.card-content {
    padding: 15px;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Keeps the aspect ratio, and crops the image */
    border-bottom: 1px solid #eeeeee;
    border-radius: 8px;
}

.project-description h3 {
    color: #333;
    font-size: 1.2em;
    margin-top: 13px;
    text-align: center;
}

.tags {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}

.tags span, .tags .image-tag {
    display: inline-block;
    background-color: #f3cda2;
    color: #ffffff;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: default;
}

/* Responsive Adjustments */
@media only screen and (max-width: 1200px) {
    .container {
        column-count: 3;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        column-count: 1;
    }
}

/* Animation for card pulse */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.animate {
    animation: pulse 500ms ease;
}
/* Existing styles... */

/* Styles for the Skills Section */
.skills-section {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 1em;
    padding: 20px;
    display: inline-block;
    width: 100%;
    break-inside: avoid;
}

.skill {
    margin: 10px 0;
}

.skill label {
    display: block;
    margin-bottom: 5px;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #f3cda2;
    border-radius: 10px;
    transition: width 2s ease;
}
